services:
  app:
    build: .
    volumes:
      - ./logs:/app/logs
    env_file:
      - .env
    depends_on:
      - lavalink
    environment:
      - LAVALINK_URI=http://lavalink:2333
      - LAVALINK_PASSWORD=youshallnotpass

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4
    container_name: lavalink
    restart: always
    environment:
      - _JAVA_OPTIONS=-Xmx2G
    volumes:
      - ./application.yml:/opt/lavalink/application.yml
    ports:
      - "2333:2333"
